{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Balakrishna Reddy</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Go lang crud Example Balakrishna Reddy </h1>   
{{ end }}